body {
    background-color: rgb(178, 196, 81);
}

.choices {
    font-size: 5rem;
    margin: auto;
    background: transparent;
    border: none;
    border-radius: 10%;
}

.choices:hover {
    background-color: rgb(174, 202, 17);
}

.displayChoice {
    display: flex;
}

.flex {
    display: flex;
    padding: 2rem 0 6rem 0;
}

.playAgain {
    background: transparent;
    border: none;
    border-radius: 5%;
    display: block;
    font-size: 2rem;
    margin: auto;
}

.playAgain:hover {
    background-color: rgb(174, 202, 17);
}

.playerChoice, .computerChoice {
    margin: auto;
    font-size: 2rem;
    padding: 0 0 6rem 0;
}

.playerScore, .computerScore, .draws {
    margin: auto;
    font-size: 2rem;
    padding: 0 0 4rem 0;
}

.results, .bigWin {
    font-size: 2rem;
    text-align: center;
    padding: 0 0 4rem 0;
}

.score {
    display: flex;
}


.title {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 2rem;
    background-color: black;
    color: white;
}